@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-overused-grotesk), ui-sans-serif, system-ui, sans-serif;
  --font-primary: var(--font-overused-grotesk), ui-sans-serif, system-ui, sans-serif;
  --color-base: #7A8C8E;
  --color-heading: #050505;
  --color-dark: #050505;
  --color-primary: #FFC000;
  --color-secondary: #004578;
  /* Spacing */
  --spacing-1: 4px;
  --spacing-2: 8px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;
  --spacing-7: 32px;
  --spacing-8: 40px;
  --spacing-9: 48px;
  --spacing-10: 64px;
  --spacing-11: 96px;
  --spacing-12: 128px;
  /* Font Sizes */
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-md: 19px;
  --text-lg: 23px;
  --text-xl: 28px;
  --text-2xl: 34px;
  --text-3xl: 41px;
  --text-4xl: 46px;
  --text-5xl: 52px;
  /* Border-radius */
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-base: 16px;
  --radius-md: var(--spacing-6);
  --radius-lg: var(--spacing-7);

  /* Line Height */
  --text-xs--line-height: 1.35;
  --text-sm--line-height: 1.35;
  --text-base--line-height: 1.35;
  --text-md--line-height: 1.3;
  --text-lg--line-height: 1.25;
  --text-xl--line-height: 1.2;
  --text-2xl--line-height: 1.15;
  --text-3xl--line-height: 1.1;
  --text-4xl--line-height: 1.05;
}


/* Tablet overrides */
@media (min-width: 768px) {
  :root {
    /* Spacing */
    --spacing-5: 22px;
    --spacing-6: 28px;
    --spacing-7: 40px;
    --spacing-8: 52px;
    --spacing-9: 72px;
    --spacing-10: 96px;
    --spacing-11: 144px;
    --spacing-12: 192px;
    /* Font Sizes */
    --text-xs: 13px;
    --text-sm: 15px;
    --text-base: 17px;
    --text-md: 21.5px;
    --text-lg: 25.5px;
    --text-xl: 31.5px;
    --text-2xl: 38.5px;
    --text-3xl: 47.5px;
    --text-4xl: 58.5px;
    --text-5xl: 72px;
  }
}

/* Desktop overrides */
@media (min-width: 1024px) {
  :root {
    /* Spacing */
    --spacing-5: 24px;
    --spacing-6: 32px;
    --spacing-7: 48px;
    --spacing-8: 64px;
    --spacing-9: 96px;
    --spacing-10: 128px;
    --spacing-11: 192px;
    --spacing-12: 256px;
    /* Font sizes */
    --text-xs: 14px;
    --text-sm: 16px;
    --text-base: 18px;
    --text-md: 22px;
    --text-lg: 28px;
    --text-xl: 36px;
    --text-2xl: 48px;
    --text-3xl: 64px;
    --text-4xl: 96px;
    --text-5xl: 128px;
  }
}

.container {
  @apply px-7;
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--color-primary);
  /* modified */
  --primary-foreground: oklch(0.985 0 0);
  --secondary: var(--color-secondary);
  /* modified */
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.87 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.87 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  body {
    @apply text-base font-primary antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: var(--text-base);
  }

  b,
  strong {
    @apply font-semibold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold text-heading;
  }

  h1 {
    @apply text-4xl mb-4 lg:mb-5;
  }

  h2 {
    @apply text-3xl mb-4 lg:mb-5;
  }

  h3 {
    @apply text-2xl mb-3 lg:mb-4;
  }

  h4 {
    @apply text-xl mb-2 lg:mb-3;
  }

  h5 {
    @apply text-lg mb-2 lg:mb-2;
  }

  h6 {
    @apply text-md mb-1;
  }

  .text-3xl {
    letter-spacing: -0.005em;
  }

  .text-4xl {
    letter-spacing: -0.01em;
  }

  figure:has(img) {
    @apply overflow-hidden;

    img {
      @apply w-full h-full object-cover;
    }
  }

  /* Form */
  input {
    @apply placeholder:text-base/50;
  }

  /* Video */
  video[poster] {
    height: 100%;
    width: 100%;
  }
}